@model List<ChallengeMCV.Models.ComicBook>
@{
    ViewBag.Title = "Index";
}

<h1>My Comics</h1>

@foreach (var comicBook in Model)
{
    <h1>@Html.ActionLink(comicBook.ComicTitle,"Details",new {id = comicBook.ComicBookId })</h1>
    <h2>#@comicBook.EpisodeNumber - @comicBook.EpisodeTitle</h2>

    var characters = comicBook.Characters.Select(p => p.Name).ToArray();
    var characterString = String.Join(", ", characters);
    <p><strong>Starring: </strong> @characterString</p>
}